
<!--navigation-->
<nav class="navbar navbar-expand-md navbar-light bg-light stick-top">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-toggle="collapse"
    data-target="#navbarResponsive">
    <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" [routerLink]="['/home']" routerLinkActive="active">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/cadastro-pessoa']" routerLinkActive="active">Cadastro</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [routerLink]="['/consulta-pessoa']" routerLinkActive="active">Consulta</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="#">Login</a>
            </li>
      </ul>
    </div>
  </div>
</nav>
