<div class="container">
  <div class="card card-container">
    <form name="form-signin" (ngSubmit)="login()" #f="ngForm" novalidate>
      <div class="alert alert-danger" role="alert" *ngIf="errorMessage">{{errorMessage}}</div>

      <label for="username" id="login">Login</label>
      <input type="text" class="form-control" id="username" name="username" pattern="[^ @]*@[^ @]*"
        [(ngModel)]="user.username" #username="ngModel" required />


      <label for="password">Senha</label>
      <input type="password" class="form-control" id="password" name="password" [(ngModel)]="user.password"
        #password="ngModel" required />

      <div *ngIf="msg" class="alert alert-danger">
        {{msg}}
      </div>

      <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit">Entrar</button>
    </form><!-- /form -->
  </div><!-- /card-container -->
</div><!-- /container -->